.create-order-card {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  .title{
    margin-bottom: 20px;
  }
  .ant-form-item-label{
    text-align: start;
  }
  .ant-select-selector{
    border-radius: 8px !important;
  }
  .ant-input-number {
    width: 100%;
    border-radius: 8px;
  }
  .ant-input-number-group-wrapper{
    width: 100%;
    .ant-input-number-group-addon{
      border-radius: 0px 8px 8px 0px;
    }
  }
  .ant-input {
    border-radius: 8px;
  }
  input {
    border-radius: 8px;
  }
  .ql-container strong {
    font-weight: bold;
  }
  .ql-container em {
    font-style: italic;
  }
  .ql-toolbar {
    border-radius: 8px 8px 0 0;
  }
  .ql-container {
    border-radius: 0 0 8px 8px;
  }
}